<article class="post box">
  <div class="post-head">
    <div class="title">
      <a href="/post/{{id}}">{{title}}</a>
    </div>
    <div class="meta">
      Posted By {{user.username}} on {{format_date created_at}} | 
      {{comments.length}} {{format_plural "comment" comments.length}}
    </div>
  </div>
  <div class="post-text content">
    {{post_text}}
  </div>
</article>
