<h1>Dashboard</h1>
{{! Header }}
{{header}}

{{! Navigation }}
{{navigation}}

<div class="section">
  <div class="container">
    <h2 class="title">Welcome to Your Dashboard</h2>

    <a href="dashboard/create" class="button is-primary">Add New Post</a>

    {{#if posts}}
      {{#each posts}}
        <div class="box post">
          <div class="content">
            <h3 class="title is-4"><a href="/post/{{id}}">{{title}}</a></h3>
            <p class="subtitle is-6">Created on {{created_at}}</p>
            <div class="buttons">
              <a href="{{id}}" class="button is-link">Edit</a>
              <a href="{{id}}" class="button is-danger">Delete</a>
            </div>
          </div>
        </div>
      {{/each}}
    {{else}}
      <p>No posts found.</p>
    {{/if}}

    <div class="social-icons">
      <a href="https://github.com" target="_blank"><i
          class="fab fa-github"
        ></i></a>
      <a href="https://twitter.com" target="_blank"><i
          class="fab fa-twitter"
        ></i></a>
    </div>
  </div>
</div>
{{! Footer }}
{{footer}}