<!-- homepage.handlebars -->
{{! Use Bulma CSS classes for styling }}

{{! Header }}
{{header}}

{{! Navigation }}
{{navigation}}

<div class="section" >
  <div class="container">
    <h2 class="title">Welcome to the Wat'cha Blogging</h2>
    {{#if posts}}
      {{#each posts}}
        <div class="post">
          <h3><a href="/post/{{id}}">{{title}}</a></h3>
          <p>Posted by {{user}} on {{formatDate created_at}}</p>
        </div>
      {{/each}}
    {{else}}
      <p>No posts found.</p>
    {{/if}}
  </div>
</div>

{{! Footer }}
{{footer}}

<script src="/public/js/create-comment.js" ></script>