<div class ="post">
  <article class="card">
    <div class="card-header flex-row justify-space-between">
      <h2>{{post.title}}</h2>
        <div>
          Posted by {{post.user.username}} on {{format_date post.createdAt}}
        </div>
    </div>
    <div class="card-body">
     {{post.body}}
    </div>
  </article>
{{#if post.comments}}
   <section class="card">
    <div class="card-header">
      <h3>Comments</h3>
    </div>
    <div class="card=body">
      {{#each post.comments}}
    <div>
      <p>{{comment_text}}</p>
      <p>&mdash; {{user.username}}, {{format_date createdAt}}</p>
    </div>
       {{/each}}
     </div>
   </section>
{{/if}}

{{#if logged_in}}
   <form id="new-comment-form" class="card">
        <br>
     <h3>Add a New Comment</h3>
        <hr>
     <div class ="card-body">
        <input type="hidden" name="post-id" value="{{post.id}}"/>
        <label class="form-label" for="comment-body">Comment</label>
        <input type="text" name="comment-body" class="form-input"/>
        <br>
        <button type="submit" class="btn">Add a Comment</button>
     </div>
  </form>
</div>
<script src="/js/comment.js"></script>
{{/if}}